@import 'variables.scss';

$color-1: red;
$padding-1: 10px;
$number: 10;
$font-family: "Arial", sans-serif;

.Button {
  color: white;
  background: $color-1;
  padding: $padding-1;
}

.ClassWithImportedVariable {
  background: $imported-var;
}

.ClassWithFontFamily {
  font-family: $font-family;
}
