@import 'base.scss';

$button-bg: #94d500;
$button-size: 25px;
$button-padding: 25px;
$button-margin: 20px;

.Button {
  margin: $button-margin 0 $button-margin 0;
  
  &__button {
    padding: 0 $button-padding 0 $button-padding;
    font-size: $button-size;
    background: $button-bg;

    // external variable comes from base
    font-family: $font-primary;
  }
}
